/********** Template CSS **********/
:root {
    --primary: #EB1616;
    --secondary: #191C24;
    --light: #ffffff;
    --dark: #000000;
}


@font-face {
    font-family: 'beyonder';
    src: url(Beyonders-JM.ttf);
   }

.fira-code-uniquifier {
  color: rgb(255, 255, 255);
  font-family: 'beyonder', 'Arial Narrow Bold', sans-serif;
  font-size:2vw;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}


.time {
        
    color: rgb(255, 255, 255);
    font-size: 12vw;
    font-family: 'beyonder', 'Arial Narrow Bold', sans-serif;
    text-align: center;
    justify-content: center;
}