/********** Template CSS **********/
:root {
    --primary: #EB1616;
    --secondary: #191C24;
    --light: #ffffff;
    --dark: #000000;
}


@font-face {
    font-family: 'beyonder';
    src: url(Beyonders-JM.ttf);
   }

.fira-code-uniquifier {
  color: bisque;
  font-family: "Impact", 'Arial Narrow Bold', sans-serif;
  font-size:5vw;
  text-align: center;
}


.time {
        
    color: rgb(255, 255, 255);
    font-size: 10vw;
    font-family: 'beyonder', 'Arial Narrow Bold', sans-serif;
    text-align: center;
}